#phil {
  width: 40vw;
  margin-left: 20vw;
}

#thao {
  margin-left: 20vw;
}

#caryn .gridContainer2___2Lyiu {
  margin-left: 20vw;
}

#azum-wrap {
  width: 376px;
  position: absolute;
  height: 3800px;
  top: 388px;
  margin-left: 60vw;
}

#azum {
  position: sticky;
  top: 0;
}